/* 
.centred-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  width: 1440;
  height: 62;
  opacity: 1;
  padding-top: 16px;
  padding-right: 99px;
  padding-bottom: 16px;
  padding-left: 99px;
  gap: 10px;
  top: 736px;

  width: 1215;
  height: 30;
  opacity: 1;
  gap: 160px;
} */

/* .above-centr-list {
  width: 1250;
  height: 59;
  opacity: 1;
  gap: 152px;
  top: 32px;
  left: 103px;
} */
:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #262422;
}

/* Base */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* Button */
.order-button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
}
.order-button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

/* Link */
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
}
.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages list */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

/* Sections titles */
.section-title {
  color: var(--color-primary-dark);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
